.App {
  text-align: center;
}
ul.ul-numbers {
  width: 40%;
}
.set-width {
  width: 600px;
  height: 100px;
  font-size: 48px;
  border-radius: 8px;
  font-family: 'Cutive Mono', monospace;
  text-align: right;
}
.App-header {
  background-color: black;
  border-radius: 8px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:48px;
  color: black;
  padding: 0 10px;
}
.button-numbers {
  width: 40px;
  border-radius: 8px;
  font-size: 40px;
  font-family: 'Cutive Mono', monospace;
  height: 60px;
  color: black;
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 50px;
  margin: 10px;
  background: white;
  border-radius: 8px;
  border: none;
}
.button-cldel {
  width: 250px;
  border-radius: 15px;
  font-size: 35px;
  height: 70px;
  color: white;
  text-align: center;
  font-family:'Cutive Mono', monospace;
  background: grey;
  justify-content: center;
  display: inline-block;
  padding: auto;
  margin: auto;
}
.button-cldel:hover {
  background-color:orange;
}
.button-numbers:hover {
  background-color:orange;
}
