.App {
  text-align: center;
}

ul.ul-numbers {
  width: 40%;
}

.set-width {
  width: 600px;
  height: 100px;
  font-size: 40px;
  border-radius: 15px;
  text-align: right;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-numbers {
  width: 40px;
  border-radius: 15px;
  font-size: 48px;
  height: 60px;
  color: black;
  align-items: center;
  background-color: orangered;
  justify-content: center;
  display: inline-block;
  padding: 50px;
  margin: 10px;
}

.button-cldel {
  width: 250px;
  border-radius: 15px;
  font-size: 50px;
  height: 70px;
  color: black;
  text-align: center;
  background-color: orangered;
  justify-content: center;
  display: inline-block;
  padding: auto;
  margin: auto;
}

.button-cldel:hover {
  background-color: #ffa550;
}


.button-numbers:hover {
  background-color: #ffa550;
}
